@font-face {
    font-family: 'customFont1';
    src:url('../fonts/Gotham-Rounded-Book.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'customFont2';
    src:url('../fonts/Gotham-Rounded-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'customFont3';
    src:url('../fonts/Gotham-Rounded-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

.main-div {
  margin-left:35vw;
  margin-top: 30vh;
  font-size: 3vw;
  font-family: customFont1;
}

.button-div {
  margin-left: -8vw;
  margin-top: -2vw;
}

.main-button {
  width: 20vw;
  height: 5vw;
  margin-left: 3vw;
  font-size: 2vw;
  border-radius: 5px;
  background: linear-gradient(to top, rgb(0, 152, 158), rgb(0, 180, 167));
  color: white;
  font-family: customFont2;
  border: none;
  box-shadow: 0px 3px rgb(53, 52, 52);
}

.search-button {
  width: 10vw;
  height: 3vw;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(to top, rgb(0, 152, 158), rgb(0, 180, 167));
  color: white;
  font-family: customFont2;
  border: none;
  box-shadow: 0px 2px rgb(53, 52, 52);
}


.search-page-div {
  background-color: rgb(51,51,51);
  width: 100vw;
  height: 100vh;
}

.search-div {
  font-family: customFont1;
  color: grey;
  width: 40vw;
  height: 20vw;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body {
  margin: 0px;
}

input {
  width: 90%;
  height: 40px;
  background-color: rgb(245,245,245);
  border: 1px solid rgb(220,220,220);
  border-radius: 2px;
  box-shadow: 1px 1px rgb(200,200,200);
}

input[type="text"] {
  font-size: 20px;
  padding-left: 10px;
  font-family: customFont1;
  color: grey;
}

input[type="number"] {
  font-size: 20px;
  padding-left: 10px;
  font-family: customFont1;
  color: grey;
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(51, 51, 51, 1);
  z-index:9999;
  color:white;
}

.close-button {
  float:right;
  margin-top: -15px;
  margin-right: -25px;
  color: lightgrey; border:
  none; background-color:white;
  height: 20px;
  width: 20px;
}

.loader {
  margin-top: 10px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.searchResults {
  margin: 50px;
  font-family: customFont2;
}

.imageDiv {
  width: 100px;
  height: 100px;
  float: left;
  text-align: center;
  border-radius: 50%;
  border: 1px solid lightgrey;
  overflow: hidden;
}
